<section class="section-clients">
	
	<h3 id= "clients">Clients</h3>

	<div class="client-controls">
		<div class="client-control-next">{% include icons/icon-next.html %}</div>
		<div class="client-control-prev">{% include icons/icon-prev.html %}</div>
	</div>

	<div class="clients-mobile-nav">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>

	<div class="clients-belt">
		<div class="client-unit">
			<div class="client-face">
				<img src="assets/img/clients/face-aaroni.jpg" alt="Client face">
				<strong class="client-name">Scott Summers</strong>
				<em class="client-title">Director of Design</em>
			</div>
			<div class="client-content">
				<div class="client-quote-mark">{% include icons/icon-quote-mark.html %}</div>
				<p><strong>This is number 0 I’d much prefer, though, to leave Zen archery and Zen itself out of this pint-sized dissertation-partly, </strong>no doubt, because Zen is rapidly becoming a rather smutty, cultish word in the discriminating ear, and with great, if superficial, justification.  (I say superficial because pure Zen will surely survive its Western champions, who, in the main, appear to confound its near-doctrine of Detachment with an invitation to spiritual indifference, even callousness-and who evidently don’t hesitate to knock a Buddha down without fist growing a golden fist.</p>
			</div>
		</div>

		<div class="client-unit">
			<div class="client-face">
				<img src="assets/img/clients/face-atariboy.jpg" alt="Client face">
				<strong class="client-name">Scott Summers</strong>
				<em class="client-title">Director of Design</em>
			</div>
			<div class="client-content">
				<div class="client-quote-mark">{% include icons/icon-quote-mark.html %}</div>
				<p><strong>This is number 1 I’d much prefer, though, to leave Zen archery and Zen itself out of this pint-sized dissertation-partly, </strong>no doubt, because Zen is rapidly becoming a rather smutty, cultish word in the discriminating ear, and with great, if superficial, justification.  (I say superficial because pure Zen will surely survive its Western champions, who, in the main, appear to confound its near-doctrine of Detachment with an invitation to spiritual indifference, even callousness-and who evidently don’t hesitate to knock a Buddha down without fist growing a golden fist.</p>
			</div>
		</div>

		<div class="client-unit">
			<div class="client-face">
				<img src="assets/img/clients/face-jackiesaik.jpg" alt="Client face">
				<strong class="client-name">Scott Summers</strong>
				<em class="client-title">Director of Design</em>
			</div>
			<div class="client-content">
				<div class="client-quote-mark">{% include icons/icon-quote-mark.html %}</div>
				<p><strong>This is number 2 I’d much prefer, though, to leave Zen archery and Zen itself out of this pint-sized dissertation-partly, </strong>no doubt, because Zen is rapidly becoming a rather smutty, cultish word in the discriminating ear, and with great, if superficial, justification.  (I say superficial because pure Zen will surely survive its Western champions, who, in the main, appear to confound its near-doctrine of Detachment with an invitation to spiritual indifference, even callousness-and who evidently don’t hesitate to knock a Buddha down without fist growing a golden fist.</p>
			</div>
		</div>

		<div class="client-unit">
			<div class="client-face">
				<img src="assets/img/clients/face-teleject.jpg" alt="Client face">
				<strong class="client-name">Scott Summers</strong>
				<em class="client-title">Director of Design</em>
			</div>
			<div class="client-content">
				<div class="client-quote-mark">{% include icons/icon-quote-mark.html %}</div>
				<p><strong>This is number 3 I’d much prefer, though, to leave Zen archery and Zen itself out of this pint-sized dissertation-partly, </strong>no doubt, because Zen is rapidly becoming a rather smutty, cultish word in the discriminating ear, and with great, if superficial, justification.  (I say superficial because pure Zen will surely survive its Western champions, who, in the main, appear to confound its near-doctrine of Detachment with an invitation to spiritual indifference, even callousness-and who evidently don’t hesitate to knock a Buddha down without fist growing a golden fist.</p>
			</div>
		</div>

	</div>

	<div class="clients-logos">
		<img class="clients-logo" src="assets/img/clients/logo1.png" alt="logo1">
		<img class="clients-logo" src="assets/img/clients/logo2.png" alt="logo1">
		<img class="clients-logo" src="assets/img/clients/logo3.png" alt="logo1">
		<img class="clients-logo" src="assets/img/clients/logo4.png" alt="logo1">

	</div>

</section>