<section class="alt-section section-contact">
	<h3 id="contact">Contact</h3>

	<div class="social-links">
		<a class="social-icon" href="">{% include icons/github.html %}</a>
		<a class="social-icon" href="">{% include icons/youtube.html %}</a>
		<a class="social-icon-linkedin" href="">{% include icons/linkedin.html %}</a>
		<a class="social-icon" href="">{% include icons/instagram.html %}</a>
	</div>

	<hr class="bar">

	<a class="biglink" href="mailto:joweber123@gmail.com">joweber123@gmail.com</a>

</section>