<section class="alt-section section-work">

	<h3 id="#work">Work</h3>

	<div class="work-belt">
		
		<div class="thumb-wrap">
			<div class="thumb-container">
			
				<a href="" class="thumb-unit" id="work1" data-folder="proj-1">
					
					<div class="thumb-overlay">
						<strong>Title 1</strong>
						<div class="zoom-icon"></div>
					</div>
				</a>
				
				<a href="" class="thumb-unit" id="work2" data-folder="proj-2">
					
					<div class="thumb-overlay">
						<strong>Title 2</strong>
						<div class="zoom-icon"></div>
					</div>
				</a>

				<a href="" class="thumb-unit" id="work3" data-folder="proj-3">
					
					<div class="thumb-overlay">
						<strong>Title 3</strong>
						<div class="zoom-icon"></div>
					</div>
				</a>

				<a href="" class="thumb-unit" id="work4" data-folder="proj-4">
					
					<div class="thumb-overlay">
						<strong>Title 4</strong>
						<div class="zoom-icon"></div>
					</div>
				</a>

				<a href="" class="thumb-unit" id="work5" data-folder="proj-5">
					
					<div class="thumb-overlay">
						<strong>Title 5</strong>
						<div class="zoom-icon"></div>
					</div>
				</a>

				<a href="" class="thumb-unit" id="work6" data-folder="proj-6">
					
					<div class="thumb-overlay">
						<strong>Title 6</strong>
						<div class="zoom-icon"></div>
					</div>
				</a>

				<a href="" class="thumb-unit" id="work7" data-folder="proj-7">
					
					<div class="thumb-overlay">
						<strong>Title 7</strong>
						<div class="zoom-icon"></div>
					</div>
				</a>

				<a href="" class="thumb-unit" id="work8" data-folder="proj-8">
					
					<div class="thumb-overlay">
						<strong>Title 8</strong>
						<div class="zoom-icon"></div>
					</div>
				</a>
			</div>
		</div>

		<div class="work-wrap">
			
			<div class="work-container">
				<div class="work-return">{% include icons/icon-back.html %}</div>

				<h4 class="project-title">Do Work</h4>
				<div class="project-load"></div>
				
			</div>
		</div>

	</div>

	
</section>