<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="4.4525404mm"
   height="8.4424591mm"
   viewBox="0 0 4.4525404 8.4424591"
   version="1.1"
   id="svg4509"
   inkscape:version="0.92.0 r15299"
   sodipodi:docname="icon-back.svg">
  <defs
     id="defs4503" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="7.9195959"
     inkscape:cx="36.078241"
     inkscape:cy="14.994162"
     inkscape:document-units="mm"
     inkscape:current-layer="layer1"
     showgrid="false"
     fit-margin-top="0"
     fit-margin-left="0"
     fit-margin-right="0"
     fit-margin-bottom="0"
     inkscape:window-width="1366"
     inkscape:window-height="706"
     inkscape:window-x="-8"
     inkscape:window-y="-8"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata4506">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-58.24992,-63.7252)">
    <path
       inkscape:connector-curvature="0"
       d="m 58.697132,72.090399 3.928534,-3.957373 c 0.102393,-0.102923 0.102393,-0.269875 0,-0.373062 l -3.928534,-3.957373 c -0.102394,-0.103188 -0.268023,-0.103188 -0.370416,0 -0.102394,0.102923 -0.102394,0.269875 0,0.373062 l 3.743325,3.770842 -3.743325,3.770842 c -0.102394,0.103187 -0.102394,0.270139 0,0.373062 0.05107,0.05159 0.118268,0.07726 0.185208,0.07726 0.0672,0 0.134144,-0.02567 0.185208,-0.07726 z"
       id="path4485"
       style="stroke-width:0.26458332" />
  </g>
</svg>
