<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   id="svg6405"
   version="1.1"
   viewBox="0 0 26.458333 26.458334"
   height="100"
   width="100">
  <defs
     id="defs6399" />
  <metadata
     id="metadata6402">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     style="display:inline"
     transform="translate(0,-270.54165)"
     id="layer1">
    <circle
       r="13.059733"
       cy="283.7316"
       cx="13.268359"
       id="path6950"
       style="opacity:1;fill:#241c1c;fill-opacity:1;stroke:#000000;stroke-width:0.07428303;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
  </g>
  <g
     id="layer3">
    <circle
       r="11.877774"
       cy="13.234402"
       cx="13.22393"
       id="path6982"
       style="opacity:1;fill:#808000;fill-opacity:1;stroke:#000000;stroke-width:0.05695241;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
  </g>
  <g
     id="layer2">
    <path
       id="rect6959"
       d="M 15.421403,14.294973 V 14.01409 13.804801 3.253073 h 1.064801 c 0.151304,4.8989245 -0.06173,9.707549 0.106101,13.92556 h -2e-6 c 0,2.284437 -1.851901,4.136339 -4.136338,4.136339 -2.284437,0 -4.1363394,-1.851902 -4.1363392,-4.136339 4e-7,-2.284436 1.8519022,-4.136337 4.1363392,-4.136337 1.163015,0 2.213925,0.479989 2.965436,1.252677 z"
       style="opacity:1;fill:#ff6600;fill-opacity:1;stroke:#000000;stroke-width:0.06568996;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
  </g>
</svg>